# Webhook do Make.com (front envia form-urlencoded: nome, telefone, email, ...)
# Make: Scenario > Webhooks > Custom webhook > copiar a URL (https://hook.us2.make.com/...)
NEXT_PUBLIC_MAKE_WEBHOOK_URL=
NEXT_PUBLIC_SITE_URL=https://reservadosipescanedo.com.br
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_GA4_ID=
